<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node name="tb_targeters_side2d_node"  pkg="tb_targeters" type="tb_targeters_side2d_node"    respawn="true" >
		<param name="update_area_sidelength" type="double" value="30.0" />
		<param name="update_area_z_radius" type="double" value="1.5" />
		<param name="dst_target" type="double" value="6.0" />
		<param name="dst_margin" type="double" value="2.0" />
</node>
	<node name="tb_targeters_building_node"  pkg="tb_targeters" type="tb_targeters_building_node"    respawn="true" >
		<param name="update_area_sidelength" type="double" value="30.0" />
		<param name="update_area_z_radius" type="double" value="1.5" />
		<param name="dst_target" type="double" value="6.0" />
		<param name="dst_margin" type="double" value="1.5" />
</node>
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find tb_targeters)/test.rviz"/>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(find tb_bringup)/maps/octomap_binary.bt">
			<!--node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="/home/tb/t4/t4.bt"-->
		 <param name="compress_map" value="false"/>
		 <param name="filter_ground" value="false"/>
		 <param name="filter_speckles" value="false"/>
		 <param name="frame_id" value="map"/>
		 <param name="ground_filter_angle" value="0.25"/>
		 <param name="ground_filter_distance" value="0.04"/>
		 <param name="ground_filter_plane_distance" value="0.07"/>
		 <param name="incremental_2D_projection" value="false"/>
		 <param name="max_depth" value="16"/>
		 <param name="occupancy_max_z" value="100.0"/>
		 <param name="occupancy_min_z" value="0.0"/>
		 <param name="pointcloud_max_z" value="100.0"/>
		 <param name="pointcloud_min_z" value="-1.0"/>
		 <param name="resolution" value="1.0"/>
		 <param name="sensor_model_max_range" value="{max_range: 55.0}"/>
		 <param name="sensor_model_hit" value="0.3"/>
		 <param name="sensor_model_max" value="0.89"/>
		 <param name="sensor_model_max_range" value="55"/>
		 <param name="sensor_model_min" value="0.12"/>
		 <param name="sensor_model_miss" value="0.35"/>
		 <remap from="cloud_in" to="/assembled_cloud" />
		 <remap from="projected_map" to="/proj_map" />
	</node>
	<node name="tb_rmbrain" pkg="tb_bringup" type="tb_rmbrain.sh" />

			<node name="tb_vis_node"  pkg="tb_targeters" type="tb_vis_node"  respawn="true" output="screen">
		</node>
			<node name="tb_clusters_node"  pkg="tb_targeters" type="tb_clusters_node" respawn="true" output="screen">
		</node>
		<node name="tb_clustersffill_node"  pkg="tb_targeters" type="tb_clustersffill_node"  respawn="true" output="screen">
	</node>

</launch>
