<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node name="tb_cmd_actuate_node" 	pkg="tb_cmd" type="tb_cmd_actuate_node"	 respawn="true"/>
	<node name="tb_cmd_exequte_node" 	pkg="tb_cmd" type="tb_cmd_exequte_node"	 respawn="true"/>
	<node name="tb_cmd_setpoint_node" pkg="tb_cmd" type="tb_cmd_setpoint_node" respawn="true"/>
</launch>
