<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<node name="tb_simulate_actuatorresponse_node" 	pkg="tb_simulate" type="tb_simulate_actuatorresponse_node"	 respawn="true"/>
	<node name="tb_simulate_djiresponse_node" 			pkg="tb_simulate" type="tb_simulate_djiresponse_node" 			 respawn="true"/>
</launch>
