<?xml version="1.0" encoding="UTF-8"?>

	<arg name="image_path" default="$(find tb_simulate)/maps/map_height.png"/>
	<arg name="radius_surroundcloud" default="25.0"/>
	<arg name="image_elevation_max"  default="25.0"/>
	<arg name="limit_dhdng" default="1.5"/>
	<arg name="limit_dincl"  default="1.0"/>

	<arg name="latitude" default="60.29499" />
	<arg name="longitude" default="5.36145" />

	<node name="tb_simulate_actuatorresponse_node"  pkg="tb_simulate" type="tb_simulate_actuatorresponse_node" 	respawn="true"/>
	<node name="tb_simulate_djiresponse_node"    		pkg="tb_simulate" type="tb_simulate_djiresponse_node" 				respawn="true">
	  <param name="reference_latitude" value="$(arg latitude)"/>
	  <param name="reference_longitude" value="$(arg longitude)"/>
	  <param name="reference_altitude" value="0"/>
	</node>
	<node name="tb_simulate_surroundcloud_node"   pkg="tb_simulate" type="tb_simulate_surroundcloud_node.py" output="screen"		respawn="true">
		<param name="image_path" type="string" value="$(arg image_path)" />
		<param name="radius_surroundcloud" type="double" value="$(arg radius_surroundcloud)" />
		<param name="image_elevationmax" type="double" value="$(arg image_elevation_max)" />
		<param name="limit_dhdng" type="double" value="$(arg limit_dhdng)" />
		<param name="limit_dincl" type="double" value="$(arg limit_dincl)" />
	</node>
	<node type="tb_simulate_octrepub_node" pkg="tb_simulate" name="tb_simulate_octrepub_node"/>

</launch>
