<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find tb_edtoauto)/launch/edtoauto.launch"/>
	<include file="$(find tb_assembly)/launch/assembly.launch"/>
	<include file="$(find tb_costmap)/launch/costmap.launch"/>
	<include file="$(find tb_abmap)/launch/abmap.launch"/>
	<include file="$(find tb_cmd)/launch/cmd.launch"/>
	<include file="$(find tb_fsm)/launch/fsm.launch"/>
	<include file="$(find tb_mbclient)/launch/mbclient.launch"/>
	<include file="$(find tb_robot)/launch/robot.launch"/>
	<include file="$(find tb_bringup)/launch/include/filters.launch.xml"/>
	<include file="$(find tb_bringup)/launch/include/mb.launch.xml"/>
	<include file="$(find tb_targeter)/launch/targeter.launch"/>
	<include file="$(find tb_bringup)/launch/include/octomap.launch"/>
	<include file="$(find tb_simulate)/launch/simulate.launch"/>

	<node name="tb_rmbrain" pkg="tb_bringup" type="tb_rmbrain.sh" />

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find tb_bringup)/rviz.rviz"/>
</launch>
